name: create delivery

on:
  workflow_dispatch:
    inputs:
      delivery-name:
        description: 'delivery name'
        required: true
        type: string
      create-repository:
        description: 'create a new apt repository'
        type: boolean
        default: true
        required: false
      production:  
        description: 'set the repository read only and create correspond git tagss'
        type: boolean
        default: false
        required: false
      distribution-name:
        description: 'specific distribution name by default will use delivery-name'
        type: string
        default: ''
        required: false
permissions:
  contents: write
  checks: write
env:
  CONAN_CONTEXT_PATH: ".conan-context/conan-context.yml"
  NEXUS_URL: "https://repository.it.voqa.com"
jobs:
  generate-conan-context:
    runs-on: voqa-ubuntu-22-04
    container:
      image: docker-internal.it.voqa.com/kp6tab-compiler:main
      credentials:
        username: ${{ secrets.DOCKER_INTERNAL_REGISTRY_USERNAME}}
        password: ${{ secrets.DOCKER_INTERNAL_REGISTRY_TOKEN}}
    outputs:
      build-profile-list: ${{ steps.generate-conan-context.outputs.build-profile-list }}
      collectors-list: ${{ steps.generate-conan-context.outputs.collectors-list }}
    steps:
      - uses: actions/checkout@v4
      - name: Generate the conan context
        id: generate-conan-context
        uses: KUBA-EMB-CI/action-generate-conan-context@main
        with:
          json-secrets: ${{ toJson(secrets) }}
      - name: Create apt repository
        run: |
          # set distribution name to delivery name if empty
          DISTRIBUTION_NAME=${{inputs.distribution-name}}
          DELIVERY_NAME=${{inputs.delivery-name}}
          [ -z $DISTRIBUTION_NAME ] && DISTRIBUTION_NAME=$DELIVERY_NAME
          # Check if repo already exists
          response=$(curl -s -o output.json -w "%{http_code}\n" --header 'Content-Type: application/json' \
                      -u "${{secrets.REPOSITORY_USERNAME_REPOSITORY_IT_VOQA_COM}}:${{secrets.REPOSITORY_TOKEN_REPOSITORY_IT_VOQA_COM}}" \
                      "https://repository.it.voqa.com/service/rest/v1/repositories/${REPO_NAME}")
          if [ "$response" == "200" ]; then
            echo "Repository '$REPO_NAME' already exists. Skipping creation...."
          elif [ "$response" == "404" ]; then
            echo "Repository '$REPO_NAME' does not exist. Creating it..."
            # To change new line into litteral '\n'  for json
            key=$(echo "${{secrets.APT_GPG_KEY}}" | awk '{printf "%s\\n", $0}')
            # Create the nexus repository
            curl --fail --header "Content-Type: application/json" \
              -u "${{secrets.REPOSITORY_USERNAME_REPOSITORY_IT_VOQA_COM}}:${{secrets.REPOSITORY_TOKEN_REPOSITORY_IT_VOQA_COM}}"  \
              ${{env.NEXUS_URL}}/service/rest/v1/repositories/apt/hosted/ \
              -d "{  \"name\": \"${{inputs.delivery-name}}\", \"online\": true, \"storage\": {\"blobStoreName\": \"nexus-bs-voqa-prd-apt\",\"strictContentTypeValidation\": true,\"writePolicy\": \"allow\"}, \
              \"apt\": {\"distribution\": \"${DISTRIBUTION_NAME}\"}, \"aptSigning\": { \"keypair\": \"${key}\",\"passphrase\": \"${{secrets.APT_GPG_PASSPHRASE}}\"}}"
          else
            echo "Repository '$REPO_NAME' cannot be found. But error is not 404."
            echo "Http error: $response"
            echo "Response output:"
            cat output.json
            exit 1
          fi
        # if: ${{ inputs.create-repository == true }}

  create-delivery:
    runs-on: voqa-ubuntu-22-04
    strategy:
      matrix:
        profile: ${{ fromJson(needs.generate-conan-context.outputs.build-profile-list) }}
    container:
      image: docker-internal.it.voqa.com/${{ matrix.profile }}-compiler:main
      credentials:
        username: ${{ secrets.DOCKER_INTERNAL_REGISTRY_USERNAME}}
        password: ${{ secrets.DOCKER_INTERNAL_REGISTRY_TOKEN}}
    needs:
      - generate-conan-context
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: conan-context
          path: .conan-context

      - name: Configure conan
        uses: KUBA-EMB-CI/action-configure-conan@main
        with:
          json-secrets: ${{ toJson(secrets) }}
          conan-context-path: .conan-context/conan-context.yml
      - name: Set safe git path
        run: |
          repo=$(basename ${{ github.repository }})
          git config --global --add safe.directory "/__w/${repo}/${repo}"
      - name: Generate dependencies for ${{ matrix.profile }}
        run: |
          conan create . -pr:h ${{ matrix.profile }}
          conan install . -pr:h ${{ matrix.profile }} --deployer delivery  --deployer-folder=to_upload	
      - name: Upload release
        run: |
          for deb in ./to_upload/*.deb; do 
            echo "uploading ${deb}"
            curl --fail --silent -u "${{secrets.REPOSITORY_USERNAME_REPOSITORY_IT_VOQA_COM}}:${{secrets.REPOSITORY_TOKEN_REPOSITORY_IT_VOQA_COM}}" \
              -H "Content-Type: multipart/form-data" --data-binary \
              "@${deb}" ${{env.NEXUS_URL}}/repository/${{inputs.delivery-name}}/ 
          done 
      - name: 'Upload bundle packages contents'
        uses: actions/upload-artifact@v4
        with:
          name: packages-delivery-${{ matrix.profile }}
          path: ./to_upload/packages.json
      - name: Tag git sources
        run: |
          jq -c '.[] ' ./to_upload/packages.json | while read -r repository ; do \
            url=$(echo "$repository" | jq -r .url) 
            sha=$(echo "$repository" | jq -r .sha) 
            URL_NOPRO=${url#*//}
            URL_REL=${URL_NOPRO#*/}
            OWNER=$(echo "${URL_REL}" | cut -d'/' -f1)
            echo "Extracting github token secret for org ${OWNER}"
            OWNER_GIT_TOKEN_SECRET=GIT_TOKEN_RELEASE_$(echo "${OWNER}" | tr '[:lower:]' '[:upper:]' | tr '-' '_')
            echo "Looking for matching github secret ${OWNER_GIT_TOKEN_SECRET}"
            # shellcheck disable=SC2086
            all_secrets='${{ tojson(secrets) }}'
            OWNER_GIT_TOKEN=$(echo "$all_secrets" | jq -r ".${OWNER_GIT_TOKEN_SECRET}")
            all_secrets=''
            if [ -z "${OWNER_GIT_TOKEN}" ] || [ "null" = "${OWNER_GIT_TOKEN}" ]; then
              echo "Secret ${OWNER_GIT_TOKEN_SECRET} not found !"
              echo "Please add secret ${OWNER_GIT_TOKEN_SECRET} to https://github.com/organizations/${GITHUB_REPOSITORY}/settings/secrets/actions"
              exit 1
            else
              echo "Found secret ${OWNER_GIT_TOKEN_SECRET}"
            fi
            echo "${OWNER_GIT_TOKEN}" > mytoken.txt
            gh auth login --with-token < mytoken.txt
            rm mytoken.txt
            if gh api "repos/${URL_REL}/tags/${{ inputs.delivery-name }}" --silent > /dev/null 2>&1; then
              echo "Tag ${{ inputs.delivery-name }} already found in ${URL_REL}"
            else
              echo "Tag ${{ inputs.delivery-name }} not found in ${URL_REL}, create it now"
              curl --silent -X POST -H "Authorization: token ${OWNER_GIT_TOKEN}" -d  "{\"ref\": \"refs/tags/${{ inputs.delivery-name }}\",\"sha\": \"$sha\"}" "https://api.github.com/repos/$URL_REL/git/refs"
            fi
          done

