name: 'Conan library test, build, publish'

on:
  workflow_call:
    inputs:
      run-as-fast-build:
        description: 'Run as fast build, need conan context and profile as parameter'
        required: false
        type: boolean
        default: false
      enable-quality-analysis:
        description: 'Enable or not the SonarQube analysis'
        required: false
        type: boolean
        default: false
      enable-rebuild-collectors:
        description: 'Enable or not the rebuild of collectors'
        required: false
        type: boolean
        default: true
      enable-rebuild-context:
        description: 'Enable or not the rebuild of context'
        required: false
        type: boolean
        default: false
      build-missing:
        description: 'Build missing packages'
        required: false
        type: boolean
        default: false
      force-build:  
        description: 'forced build package'
        required: false
        type: string
        default: ''
      conan-context:
        description: 'Conan context plain text when run-as-fast-build is true'
        required: false
        type: string
        default: ''
      conan-profiles:
        description: 'Conan profile as json string'
        required: false
        type: string
        default: ''

env:
  SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
  SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
  CONAN_CONTEXT_PATH: ".conan-context/conan-context.yml"
  BUILD_ID: "${{github.run_number}}"
  ALL_SECRETS: '${{ tojson(secrets) }}'

jobs:
  generate-conan-context:
    runs-on: voqa-eks-runner
    if: inputs.run-as-fast-build == false
    container:
      image: docker-internal.it.voqa.com/aurora-compiler:main
      credentials:
        username: ${{ secrets.DOCKER_INTERNAL_REGISTRY_USERNAME}}
        password: ${{ secrets.DOCKER_INTERNAL_REGISTRY_TOKEN}}
    outputs:
      build-profile-list: ${{ steps.generate-conan-context.outputs.build-profile-list }}
      collectors-list: ${{ steps.generate-conan-context.outputs.collectors-list }}
    steps:
      - uses: actions/checkout@v4
      - uses: KUBA-EMB-CI/action-generate-conan-context@main
        id: generate-conan-context
        with:
          json-secrets: ${{ toJson(secrets) }}
  unit-tests:
    runs-on: voqa-ubuntu-22-04
    if: inputs.run-as-fast-build == false
    outputs:
      status: ${{ job.status }}
    container:
      image: docker-internal.it.voqa.com/aurora-compiler:main
      credentials:
        username: ${{ secrets.DOCKER_INTERNAL_REGISTRY_USERNAME}}
        password: ${{ secrets.DOCKER_INTERNAL_REGISTRY_TOKEN}}
    needs:
      - generate-conan-context
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: conan-context
          path: .conan-context
      - name: Configure Conan
        uses: KUBA-EMB-CI/action-configure-conan@main
        with:
          json-secrets: ${{ toJson(secrets) }}
          conan-context-path: ${{ env.CONAN_CONTEXT_PATH }}

      - run: bash test.sh
      - name: Extract test report
        run: |
          mkdir -p ci-report
          find ~/.conan2 -name junit-results.xml -exec cp {} ci-report/ \; || echo "Not able to find test results"
      - name: Publish LCOV Report
        uses: romeovs/lcov-reporter-action@v0.2.16
        if: success() 
        with:
          lcov-file: ./coverage/coverage.info
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          report_paths: 'ci-report/junit-results.xml'
  quality-analysis:
    runs-on: ubuntu-latest
    needs:
      - generate-conan-context
    if: inputs.run-as-fast-build == false && inputs.enable-quality-analysis
    steps:
      - run: echo "Will run a SonarQube analysis"
  build-and-upload:
    runs-on: voqa-eks-runner
    if: always() && (inputs.conan-profiles != '' || needs.unit-tests.result == 'success')
    needs:
      - generate-conan-context
      - unit-tests
    env:
      ALL_SECRETS: '${{ tojson(secrets) }}'
    strategy:
      fail-fast: false
      matrix:
        profile: ${{ inputs.conan-profiles != '' && fromJson(inputs.conan-profiles) || fromJson(needs.generate-conan-context.outputs.build-profile-list) }}
    container:
      image: docker-internal.it.voqa.com/${{ matrix.profile }}-compiler:main
      credentials:
        username: ${{ secrets.DOCKER_INTERNAL_REGISTRY_USERNAME}}
        password: ${{ secrets.DOCKER_INTERNAL_REGISTRY_TOKEN}}
    steps:
      - uses: actions/checkout@v4
      - name: Set safe git path
        run: |
          repo=$(basename ${{ github.repository }})
          git config --global --add safe.directory "/__w/${repo}/${repo}"
      - name: Get conan context from previous step
        uses: actions/download-artifact@v4
        if: inputs.conan-context == ''
        with:
          name: conan-context
          path: .conan-context
      - name: Get conan context from input
        if: inputs.conan-context != ''
        run: |
          mkdir -p .conan-context
          touch .conan-context/conan-context.yml
          echo "${{ inputs.conan-context }}" > .conan-context/conan-context.yml
      - name: Configure Conan
        uses: KUBA-EMB-CI/action-configure-conan@main
        with:
          json-secrets: ${{ toJson(secrets) }}
          conan-context-path: ${{ env.CONAN_CONTEXT_PATH }}
      - name: Conan create
        shell: bash
        run: |
          set -o pipefail
          upload=$(yq e '.upload' "${CONAN_CONTEXT_PATH}")
          if [ -z "${upload}" ] || [ "null" = "${upload}" ]; then
            echo "Field upload is missing in ${CONAN_CONTEXT_PATH}"
            echo "Please add it"
            exit 1
          else
            echo "Conan upload to repository ${upload}"
          fi
          repo=$(basename ${{ github.repository }})
          use_ripple_id=$(yq e '.use_ripple_id' "${CONAN_CONTEXT_PATH}")
          if [ "${use_ripple_id}" = "true" ]; then
               echo "USE_RIPPLE_ID=true" >> "$GITHUB_ENV"
          fi
          if [ "${{ inputs.build-missing }}" = "true" ]; then
            conan graph build-order . -pr:h "${{ matrix.profile }}" --build=missing --format=json --reduce --order-by recipe > build.json
            jq -r '.order[][].ref' < build.json | while read -r ref; do
              package_path="$(conan cache path "${ref}")"
              url="$(yq -r '.url'  < "${package_path}/conandata.yml" )"
              sha="$(yq -r '.sha'  < "${package_path}/conandata.yml" )"
              bundle="$(yq -r '.bundle'  < "${package_path}/conandata.yml" )"
              context=$(yq e '.bundle' "${CONAN_CONTEXT_PATH}")
              if [ "${bundle}" !=  "${context}" ]; then
                echo "need to rebuild a package ${ref} from another context ${bundle}"  
                echo "Looks like ${bundle is broken}"
                exit 1
              fi
              OWNER="${url#*//}"
              OWNER="${OWNER#*/}"
              OWNER="${OWNER%/*}"
              echo "url $url sha $sha OWNER $OWNER"
              OWNER_GIT_TOKEN_SECRET=GIT_TOKEN_$(echo "${OWNER}" | tr '[:lower:]' '[:upper:]' | tr '-' '_')
              # shellcheck disable=SC2086
              all_secrets='${{ tojson(secrets) }}'
              OWNER_GIT_TOKEN=$(echo "$all_secrets" | jq -r ".${OWNER_GIT_TOKEN_SECRET}")
              all_secrets=''
              if [ -z "${OWNER_GIT_TOKEN}" ] || [ "null" = "${OWNER_GIT_TOKEN}" ]; then
                 echo "Secret ${OWNER_GIT_TOKEN_SECRET} not found !"
                 echo "Please add secret ${OWNER_GIT_TOKEN_SECRET} to https://github.com/organizations/${GITHUB_REPOSITORY_OWNER}/settings/secrets/actions"
                 exit 1
              else
                 echo "Found secret ${OWNER_GIT_TOKEN_SECRET}"
              fi
              echo "${OWNER_GIT_TOKEN}" > mytoken.txt
              gh auth login --with-token < mytoken.txt
              rm mytoken.txt              
              gh repo clone "$url"
              echo "extracting package name and version from $ref"
              name="${ref%/*}"
              prev="${ref#*/}"
              prev="${prev%#*}"
              echo "name $name version $prev adding ripple build id"
              version="${prev%+*}"
              build="${prev#*+}"
              build="${build%.*}"
              echo "Ripple building ${name} from version ${version} build ${build} ...."
              cd "${name}"
              git reset --hard "$sha"
              # Following command must exit if conan create fail because we've set on top of this script 'set -o pipefail'
              # Please do not add any command behind '| tee conan_create.log' that could change the return code
              PREVIOUS_VERSION="${version}+${build}" conan create . -pr:h "${{ matrix.profile }}" 2>&1 | tee conan_create.log
              cd ..
              if [ ${{ github.event_name }} != 'pull_request' ]; then
                conan upload -r "${upload}" "${name}" --confirm
              fi  
            done
          fi  
          conan create . -pr:h "${{ matrix.profile }}" 2>&1 | tee conan_create.log
          if [ ${{ github.event_name }} != 'pull_request' ]; then
            conan upload -r "${upload}" "${repo}" --confirm
          fi   
      - name: Archive conan create log
        uses: actions/upload-artifact@v4
        with:
          name: conan-create-log-${{ matrix.profile }}
          path: conan_create.log
  rebuild-collectors:
    runs-on: ubuntu-latest
    if: inputs.run-as-fast-build == false && inputs.enable-rebuild-collectors && github.event_name != 'pull_request'
    needs:
      - generate-conan-context
      - build-and-upload
    strategy:
      fail-fast: false
      matrix:
        collector: ${{ fromJson(needs.generate-conan-context.outputs.collectors-list) }}
    env:
      TARGET_WORKFLOW: "rebuild.yml"
    steps:
      - name: Extract owner of collector ${{ matrix.collector }}
        run: |
          owner=$(echo "${{ matrix.collector }}" | cut -d'/' -f1)
          echo "Owner of collector: ${owner}"
          echo "OWNER=${owner}" >> "$GITHUB_ENV"

      - name: Extract authentication token for ${{ env.OWNER }}
        run: |
          OWNER_GIT_TOKEN_SECRET=GIT_TOKEN_$(echo "${OWNER}" | tr '[:lower:]' '[:upper:]' | tr '-' '_')
          # shellcheck disable=SC2086
          all_secrets='${{ tojson(secrets) }}'
          OWNER_GIT_TOKEN=$(echo "$all_secrets" | jq -r ".${OWNER_GIT_TOKEN_SECRET}")
          all_secrets=''
          if [ -z "${OWNER_GIT_TOKEN}" ] || [ "null" = "${OWNER_GIT_TOKEN}" ]; then
            echo "Secret ${OWNER_GIT_TOKEN_SECRET} not found !"
            echo "Please add secret ${OWNER_GIT_TOKEN_SECRET} to https://github.com/organizations/${GITHUB_REPOSITORY_OWNER}/settings/secrets/actions"
            exit 1
          else
            echo "Found secret ${OWNER_GIT_TOKEN_SECRET} that will be use to trigger rebuild of ${{ matrix.collector }}"
          fi
          echo "${OWNER_GIT_TOKEN}" > mytoken.txt
          gh auth login --with-token < mytoken.txt
          rm mytoken.txt

      - name: Check if repository ${{ matrix.collector }} exists
        run: |
          if gh repo view "${{ matrix.collector }}" --json name --jq .name > /dev/null 2>&1; then
            echo "Repository ${{ matrix.collector }} exists."
          else
            echo "Repository ${{ matrix.collector }} does not exist or actual token cannot see it."
            exit 1
          fi

      - name: Check if branch ${{ github.ref_name }} exists in ${{ matrix.collector }}
        run: |
          if gh api repos/${{ matrix.collector }}/branches/${{ github.ref_name }} --silent > /dev/null 2>&1; then
            echo "Branch ${{ github.ref_name }} found in ${{ matrix.collector }}"
          else
            echo "Branch ${{ github.ref_name }} does not exists in ${{ matrix.collector }}"
            exit 1
          fi

      - name: Check if workflow ${{ env.TARGET_WORKFLOW }} exists in ${{ matrix.collector }}/${{ github.ref_name }}
        run: |
          wkf_exists=$(gh api repos/${{ matrix.collector }}/actions/workflows --jq ".workflows | map(select(.path == \".github/workflows/${TARGET_WORKFLOW}\")) | length > 0")
          if [ "$wkf_exists" == "true" ]; then
            echo "Workflow ${TARGET_WORKFLOW} exists in ${{ matrix.collector }}."
          else
            echo "Workflow ${TARGET_WORKFLOW} does not exists in ${{ matrix.collector }}."
            exit 1
          fi

      - name: Dispatch workflow of ${{ matrix.collector }} on ${{ github.ref_name }}
        run: |
          gh workflow run "${TARGET_WORKFLOW}" \
            --repo "${{ matrix.collector }}" \
            --ref "${{ github.ref_name }}" \
            --field rebuild_cause="Change in ${{ github.ref_name }} of ${{ github.repository }}" \
            --field linked_commit="https://github.com/${{ github.repository }}/commit/${{ github.sha }}" \
            --field built_package="${{ github.repository }}"

  rebuild-context:
    runs-on: ubuntu-latest
    needs: 
      - build-and-upload
    if: inputs.run-as-fast-build == false && inputs.enable-rebuild-context && github.event_name != 'pull_request'
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: conan-context
          path: .conan-context

      - name: Extract authentication token
        run: |
          context=$(yq e '.bundle' "${CONAN_CONTEXT_PATH}")
          OWNER=$(echo "${context}" | cut -d'/' -f1)
          OWNER_GIT_TOKEN_SECRET=GIT_TOKEN_$(echo "${OWNER}" | tr '[:lower:]' '[:upper:]' | tr '-' '_')
          # shellcheck disable=SC2086
          all_secrets='${{ tojson(secrets) }}'
          OWNER_GIT_TOKEN=$(echo "$all_secrets" | jq -r ".${OWNER_GIT_TOKEN_SECRET}")
          all_secrets=''
          if [ -z "${OWNER_GIT_TOKEN}" ] || [ "null" = "${OWNER_GIT_TOKEN}" ]; then
            echo "Secret ${OWNER_GIT_TOKEN_SECRET} not found !"
            echo "Please add secret ${OWNER_GIT_TOKEN_SECRET} to https://github.com/organizations/${GITHUB_REPOSITORY_OWNER}/settings/secrets/actions"
            exit 1
          else
            echo "Found secret ${OWNER_GIT_TOKEN_SECRET} that will be use to trigger delivery of ${context}"
          fi
          echo "${OWNER_GIT_TOKEN}" > mytoken.txt
          gh auth login --with-token < mytoken.txt
          rm mytoken.txt
      - name: Call context delivery  
        run: |  
          context=$(yq e '.bundle' "${CONAN_CONTEXT_PATH}")
          gh workflow run "delivery.yml" \
            --repo "${context}" \
            --ref "${{ github.ref_name }}"    
