name: 'Conan library test, build, publish'

on:
  workflow_call:
    inputs:
      enable-quality-analysis:
        description: 'Enable or not the SonarQube analysis'
        required: false
        type: boolean
        default: true
      enable-rebuild-collectors:
        description: 'Enable or not the rebuild of collectors'
        required: false
        type: boolean
        default: true
      build-missing:
        description: 'Build missing packages'
        required: false
        type: boolean
        default: false
      force-build:  
        description: 'forced build package'
        required: false
        type: string
        default: ''

env:
  SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
  SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
  CONAN_CONTEXT_PATH: ".conan-context/conan-context.yml"
  BUILD_ID: "${{github.run_number}}"

jobs:
  generate-conan-context:
    runs-on: voqa-ubuntu-22-04
    container:
      image: docker-internal.it.voqa.com/aurora-compiler:main
      credentials:
        username: ${{ secrets.DOCKER_INTERNAL_REGISTRY_USERNAME}}
        password: ${{ secrets.DOCKER_INTERNAL_REGISTRY_TOKEN}}
    outputs:
      build-profile-list: ${{ steps.generate-conan-context.outputs.build-profile-list }}
      collectors-list: ${{ steps.generate-conan-context.outputs.collectors-list }}
    steps:
      - uses: actions/checkout@v4
      - uses: KUBA-EMB-CI/action-generate-conan-context@main
        id: generate-conan-context
        with:
          json-secrets: ${{ toJson(secrets) }}
  unit-tests:
    runs-on: voqa-ubuntu-22-04
    container:
      image: docker-internal.it.voqa.com/aurora-compiler:main
      credentials:
        username: ${{ secrets.DOCKER_INTERNAL_REGISTRY_USERNAME}}
        password: ${{ secrets.DOCKER_INTERNAL_REGISTRY_TOKEN}}
    needs:
      - generate-conan-context
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: conan-context
          path: .conan-context
      - name: Configure Conan
        uses: KUBA-EMB-CI/action-configure-conan@main
        with:
          json-secrets: ${{ toJson(secrets) }}
          conan-context-path: ${{ env.CONAN_CONTEXT_PATH }}

      - run: bash test.sh
      - name: Extract test report
        run: |
          mkdir -p ci-report
          find ~/.conan2 -name junit-results.xml -exec cp {} ci-report/ \; || echo "Not able to find test results"
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          report_paths: 'ci-report/junit-results.xml'
  quality-analysis:
    runs-on: ubuntu-latest
    needs:
      - generate-conan-context
    if: inputs.enable-quality-analysis
    steps:
      - run: echo "Will run a SonarQube analysis"
  build-and-upload:
    runs-on: voqa-ubuntu-22-04
    needs:
      - generate-conan-context
      - unit-tests
    strategy:
      fail-fast: false
      matrix:
        profile: ${{ fromJson(needs.generate-conan-context.outputs.build-profile-list) }}
    container:
      image: docker-internal.it.voqa.com/${{ matrix.profile }}-compiler:main
      credentials:
        username: ${{ secrets.DOCKER_INTERNAL_REGISTRY_USERNAME}}
        password: ${{ secrets.DOCKER_INTERNAL_REGISTRY_TOKEN}}
    steps:
      - uses: actions/checkout@v4
      - name: Set safe git path
        run: |
          repo=$(basename ${{ github.repository }})
          git config --global --add safe.directory "/__w/${repo}/${repo}"
      - uses: actions/download-artifact@v4
        with:
          name: conan-context
          path: .conan-context
      - name: Configure Conan
        uses: KUBA-EMB-CI/action-configure-conan@main
        with:
          json-secrets: ${{ toJson(secrets) }}
          conan-context-path: ${{ env.CONAN_CONTEXT_PATH }}
      - name: Conan create
        shell: bash
        run: |
          set -o pipefail
          if [ "${{ inputs.force-build }}" != "" ]; then
            conan create . --build=missing -pr:h "${{ matrix.profile }}" 2>&1 | tee conan_create.log
          else  
            conan create . -pr:h "${{ matrix.profile }}" 2>&1 | tee conan_create.log
          fi
      - name: Conan upload
        if: inputs.enable-rebuild-collectors || inputs.build-missing
        run: |
          upload=$(yq e '.upload' "${CONAN_CONTEXT_PATH}")
          if [ -z "${upload}" ] || [ "null" = "${upload}" ]; then
            echo "Field upload is missing in ${CONAN_CONTEXT_PATH}"
            echo "Please add it"
            exit 1
          else
            echo "Conan upload to repository ${upload}"
          fi
          repo=$(basename ${{ github.repository }})
          if [ "${{ inputs.build-missing }}" = "true" ]; then
            # shall to correspond to collector package
            echo "Generate bundle packages list"
            conan install --requires "${repo}/[*]" -pr:h ${{ matrix.profile }} --deployer release  --deployer-folder=to_upload
            jq -c '.[] ' ./to_upload/packages.json | while read -r repository ; do \
              package=$(echo "$repository" | jq -r .name)
              echo "Uploading  ${package} into ${upload}"
              conan upload -r "${upload}" "${package}" --confirm
            done
          else
            echo "Upload only package ${repo} because build missing is false"
            conan upload -r "${upload}" "${repo}" --confirm
          fi
      - name: Archive conan create log
        uses: actions/upload-artifact@v4
        with:
          name: conan-create-log-${{ matrix.profile }}
          path: conan_create.log
  rebuild-collectors:
    runs-on: ubuntu-latest
    if: inputs.enable-rebuild-collectors
    needs:
      - generate-conan-context
      - build-and-upload
    strategy:
      fail-fast: false
      matrix:
        collector: ${{ fromJson(needs.generate-conan-context.outputs.collectors-list) }}
    env:
      TARGET_WORKFLOW: "rebuild.yml"
    steps:
      - name: Extract owner of collector ${{ matrix.collector }}
        run: |
          owner=$(echo "${{ matrix.collector }}" | cut -d'/' -f1)
          echo "Owner of collector: ${owner}"
          echo "OWNER=${owner}" >> "$GITHUB_ENV"

      - name: Extract authentication token for ${{ env.OWNER }}
        run: |
          OWNER_GIT_TOKEN_SECRET=GIT_TOKEN_$(echo "${OWNER}" | tr '[:lower:]' '[:upper:]' | tr '-' '_')
          # shellcheck disable=SC2086
          all_secrets='${{ tojson(secrets) }}'
          OWNER_GIT_TOKEN=$(echo "$all_secrets" | jq -r ".${OWNER_GIT_TOKEN_SECRET}")
          all_secrets=''
          if [ -z "${OWNER_GIT_TOKEN}" ] || [ "null" = "${OWNER_GIT_TOKEN}" ]; then
            echo "Secret ${OWNER_GIT_TOKEN_SECRET} not found !"
            echo "Please add secret ${OWNER_GIT_TOKEN_SECRET} to https://github.com/organizations/${GITHUB_REPOSITORY_OWNER}/settings/secrets/actions"
            exit 1
          else
            echo "Found secret ${OWNER_GIT_TOKEN_SECRET} that will be use to trigger rebuild of ${{ matrix.collector }}"
          fi
          echo "${OWNER_GIT_TOKEN}" > mytoken.txt
          gh auth login --with-token < mytoken.txt
          rm mytoken.txt

      - name: Check if repository ${{ matrix.collector }} exists
        run: |
          if gh repo view "${{ matrix.collector }}" --json name --jq .name > /dev/null 2>&1; then
            echo "Repository ${{ matrix.collector }} exists."
          else
            echo "Repository ${{ matrix.collector }} does not exist or actual token cannot see it."
            exit 1
          fi

      - name: Check if branch ${{ github.ref_name }} exists in ${{ matrix.collector }}
        run: |
          if gh api repos/${{ matrix.collector }}/branches/${{ github.ref_name }} --silent > /dev/null 2>&1; then
            echo "Branch ${{ github.ref_name }} found in ${{ matrix.collector }}"
          else
            echo "Branch ${{ github.ref_name }} does not exists in ${{ matrix.collector }}"
            exit 1
          fi

      - name: Check if workflow ${{ env.TARGET_WORKFLOW }} exists in ${{ matrix.collector }}/${{ github.ref_name }}
        run: |
          wkf_exists=$(gh api repos/${{ matrix.collector }}/actions/workflows --jq ".workflows | map(select(.path == \".github/workflows/${TARGET_WORKFLOW}\")) | length > 0")
          if [ "$wkf_exists" == "true" ]; then
            echo "Workflow ${TARGET_WORKFLOW} exists in ${{ matrix.collector }}."
          else
            echo "Workflow ${TARGET_WORKFLOW} does not exists in ${{ matrix.collector }}."
            exit 1
          fi

      - name: Dispatch workflow of ${{ matrix.collector }} on ${{ github.ref_name }}
        run: |
          gh workflow run "${TARGET_WORKFLOW}" \
            --repo "${{ matrix.collector }}" \
            --ref "${{ github.ref_name }}" \
            --field rebuild_cause="Change in ${{ github.ref_name }} of ${{ github.repository }}" \
            --field linked_commit="https://github.com/${{ github.repository }}/commit/${{ github.sha }}" \
            --field built_package="${{ github.repository }}"

  rebuild-context:
    runs-on: ubuntu-latest
    needs: 
      - build-and-upload
    if: ${{ inputs.build-missing }}    
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: conan-context
          path: .conan-context

      - name: Extract authentication token
        run: |
          context=$(yq e '.bundle' "${CONAN_CONTEXT_PATH}")
          OWNER=$(echo "${context}" | cut -d'/' -f1)
          OWNER_GIT_TOKEN_SECRET=GIT_TOKEN_$(echo "${OWNER}" | tr '[:lower:]' '[:upper:]' | tr '-' '_')
          # shellcheck disable=SC2086
          all_secrets='${{ tojson(secrets) }}'
          OWNER_GIT_TOKEN=$(echo "$all_secrets" | jq -r ".${OWNER_GIT_TOKEN_SECRET}")
          all_secrets=''
          if [ -z "${OWNER_GIT_TOKEN}" ] || [ "null" = "${OWNER_GIT_TOKEN}" ]; then
            echo "Secret ${OWNER_GIT_TOKEN_SECRET} not found !"
            echo "Please add secret ${OWNER_GIT_TOKEN_SECRET} to https://github.com/organizations/${GITHUB_REPOSITORY_OWNER}/settings/secrets/actions"
            exit 1
          else
            echo "Found secret ${OWNER_GIT_TOKEN_SECRET} that will be use to trigger delivery of ${context}"
          fi
          echo "${OWNER_GIT_TOKEN}" > mytoken.txt
          gh auth login --with-token < mytoken.txt
          rm mytoken.txt
      - name: Call context delivery  
        run: |  
          context=$(yq e '.bundle' "${CONAN_CONTEXT_PATH}")
          gh workflow run "delivery.yml" \
            --repo "${context}" \
            --ref "${{ github.ref_name }}"    
