name: 'Conan library test, build, publish'

on:
  workflow_call:

env:
  CONAN_GIT_TOKEN: ${{ secrets.CONAN_GIT_TOKEN }}
  ARTIFACTORY_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
  ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
  NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
  NEXUS_TOKEN: ${{ secrets.NEXUS_TOKEN }}
  SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
  SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}

jobs:
  generate-conan-context:
    runs-on: docker-voqa-ubuntu-22-04
    container:
      image: docker-internal.it.voqa.com/aurora-compiler:main
      credentials:
        username: ${{ secrets.DOCKER_INTERNAL_REGISTRY_USERNAME}}
        password: ${{ secrets.DOCKER_INTERNAL_REGISTRY_TOKEN}}
    outputs:
      build-profile-list: ${{ steps.generate-build-profiles-list.outputs.list }}
    steps:
      - uses: actions/checkout@v4
      - name: Generate the conan context
        run: |
          ## START GENERATE PYTHON SCRIPT
          cat > extract-conanfile-field.py <<EOF

          import importlib.util
          import inspect
          import sys

          def load_class(module_name):
            spec = importlib.util.find_spec(module_name)
            if spec is None:
              raise ImportError(f"Module '{module_name}' not found.")

            module = importlib.util.module_from_spec(spec)
            spec.loader.exec_module(module)

            classes = inspect.getmembers(module, inspect.isclass)
            for name, cls in inspect.getmembers(module, inspect.isclass):
              if cls.__module__ == module_name:
                return cls
            raise RuntimeError(f"No conan class found matching '{module_name}'")

          if __name__ == "__main__":
            field_to_extract = sys.argv[1]
            module_name = "conanfile"
            conan_class = load_class(module_name)
            conan_instance = conan_class()
            print(getattr(conan_instance, field_to_extract))
          EOF
          ## END GENERATE PYTHON SCRIPT

          user=$(python3 extract-conanfile-field.py user)

          CONAN_CONTEXT_URL=https://api.github.com/repos/KUBA-Aurora/${user}-conan-context/contents/conan-context.yml

          REF=""
          BRANCH_NAME="${GITHUB_REF_NAME}"
          if [ "$BRANCH_NAME" = "main" ]; then
            REF="main"
          elif [ ! -z "${GITHUB_BASE_REF}" ]; then
              REF="${GITHUB_BASE_REF}"
          else
            echo "Unable to set conan channel"
            exit 1
          fi

          mkdir -p .conan-context

          curl -H "Authorization: token ${CONAN_GIT_TOKEN}" \
                -H "Accept: application/vnd.github.v3.raw" \
                -L "${CONAN_CONTEXT_URL}?ref=${REF}" > .conan-context/conan-context.yml
      - name: 'Output the build profiles list'
        id: generate-build-profiles-list
        run: echo "list=$(yq -r '.build.profiles' .conan-context/conan-context.yml -o=json | jq -c)" >> "$GITHUB_OUTPUT"
      - name: 'Upload conan context'
        uses: actions/upload-artifact@v4
        with:
          name: conan-context
          path: .conan-context/conan-context.yml
  unit-tests:
    runs-on: docker-voqa-ubuntu-22-04
    container:
      image: docker-internal.it.voqa.com/aurora-compiler:main
      credentials:
        username: ${{ secrets.DOCKER_INTERNAL_REGISTRY_USERNAME}}
        password: ${{ secrets.DOCKER_INTERNAL_REGISTRY_TOKEN}}
    needs:
      - generate-conan-context
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: conan-context
          path: .conan-context
      - name: Configure Conan
        run: |
          git config --global url."https://github.com/".insteadOf git@github.com:
          git config --global credential.helper "!f() { sleep 1; echo \"username=github\"; echo \"password=${CONAN_GIT_TOKEN}\"; }; f"
          conan config install https://github.com/KUBA-EMB-CI/conan-config.git
          sed -i 's/http:\/\//https:\/\//' ~/.conan2/remotes.json
          conan remote login -p "$ARTIFACTORY_TOKEN" "VOQA-SNAPSHOTS" "$ARTIFACTORY_USERNAME"
          conan remote login -p "$ARTIFACTORY_TOKEN" "VOQA-RELEASES"  "$ARTIFACTORY_USERNAME"
      - run: bash test.sh
      - name: Extract test report
        run: |
          mkdir -p ci-report
          find ~/.conan2 -name junit-results.xml -exec cp {} ci-report/ \; || echo "Not able to find test results"
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure()
        with:
          report_paths: 'ci-report/junit-results.xml'
  quality-analysis:
    runs-on: ubuntu-latest
    needs:
      - generate-conan-context
    steps:
      - run: echo "Will run a SonarQube analysis"
  build-and-upload:
    runs-on: docker-voqa-ubuntu-22-04
    needs:
      - generate-conan-context
      - unit-tests
      - quality-analysis
    strategy:
      matrix:
        profile: ${{ fromJson(needs.generate-conan-context.outputs.build-profile-list) }}
    container:
      image: docker-internal.it.voqa.com/${{ matrix.profile }}-compiler:main
      credentials:
        username: ${{ secrets.DOCKER_INTERNAL_REGISTRY_USERNAME}}
        password: ${{ secrets.DOCKER_INTERNAL_REGISTRY_TOKEN}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: conan-context
          path: .conan-context
      - name: Configure Conan
        run: |
          git config --global url."https://github.com/".insteadOf git@github.com:
          git config --global credential.helper "!f() { sleep 1; echo \"username=github\"; echo \"password=${CONAN_GIT_TOKEN}\"; }; f"
          conan config install https://github.com/KUBA-EMB-CI/conan-config.git
          sed -i 's/http:\/\//https:\/\//' ~/.conan2/remotes.json
          conan remote login -p "$ARTIFACTORY_TOKEN" "VOQA-SNAPSHOTS" "$ARTIFACTORY_USERNAME"
          conan remote login -p "$ARTIFACTORY_TOKEN" "VOQA-RELEASES" "$ARTIFACTORY_USERNAME"
          conan config install https://github.com/conan-io/conan-extensions.git
          conan art:server add artifactoryServer https://artifactory.it.voqa.com/artifactory --user $ARTIFACTORY_USERNAME --password $ARTIFACTORY_TOKEN | true
      - name: Conan create
        run: |
          conan create . --format json -pr:h ${{ matrix.profile }} --build=missing >  create_${{ matrix.profile }}.json
          conan art:build-info create create_${{ matrix.profile }}.json ${{ matrix.profile }} 1 VOQA_RELEASES --server artifactoryServer --with-dependencies > ${{ matrix.profile }}.json
      - name: Conan upload
        if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
        run: |
          BRANCH_NAME="${GITHUB_REF_NAME}"
          if [ "$BRANCH_NAME" = "main" ]; then
            conan upload '*' -r VOQA-SNAPSHOTS --confirm
          elif [ ! -z "$GITHUB_BASE_REF" ]; then
            conan upload '*' -r VOQA-RELEASES --confirm
          else
            echo "Unable to set conan channel"
            exit 1
          fi
          # conan art:build-info append mybuildname_aggregated 1 --build-info=taipan,1 --build-info=kp6tab,1 --build-info=aurora,1 --server my_artifactory > mybuildname_aggregated.json
          conan art:build-info upload taipan.json --server artifactoryServer
          conan art:build-info upload kp6tab.json --server artifactoryServer
          conan art:build-info upload aurora.json --server artifactoryServer
  dispatch-rebuild:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/')
    needs:
      - build-and-upload
    steps:
      - name: dispatch rebuild
        run: |
          curl -v -L -X POST -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer ${CONAN_GIT_TOKEN}" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                https://api.github.com/repos/KUBA-Aurora/collect-cots/dispatches \
                -d '{"event_type":"rebuild"}'
